* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-size: 14px;
  font-family: sans-serif;
}

h3 {
  color: #555555;
  margin-bottom: 10px;
  padding: 10px 0 5px 10px;
  border-bottom: 2px solid #7159c1;
}

div {
  margin: 20px;
}

div li {
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 10px;
  align-items: center;
  background: #eeeeee;
}

div li + li {
  margin-top: 5px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
